* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  scrollbar-color: $N600 transparent;
  scrollbar-width: thin;
  ::-webkit-scrollbar {
    width: 2px;
    background: $N40;
  }
  ::-webkit-scrollbar-thumb {
    width: 2px;
    background: $N600;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
    background-clip: content-box;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

body,
input,
textarea {
  font-family: $base-font;
}

input,
button,
textarea {
  font-size: $H200;
  @include transition(all);
  &::placeholder {
    font-size: $H300;
  }
}

a,
button {
  font-family: $head-font;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $head-font;
}

button,
a {
  text-decoration: none;
  outline: none;
  border: none;
  background-color: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.is-mobile {
  @include media {
    display: none;
  }
}

.is-desktop {
  display: none;
  @include media {
    display: block;
  }
}

.container {
  $offset: 64px;
  max-width: calc(1366px + #{$offset} * 2);
  width: 100%;
  margin: 0 auto;
  padding-left: $offset;
  padding-right: $offset;
}
