$style: about;

.#{$style} {
  min-height: 100vh;
  padding-bottom: 72px;
  &__header {
    padding: 120px 0;
    background-color: rgba(0, 0, 0, 0.4);
  }
  &__title {
    text-align: center;
    @include text($H800, 400, $N0);
    margin-bottom: 32px;
    @include media {
      font-size: $H900;
    }
  }
  &__section {
    position: relative;
    @extend %section;
    min-height: 300px;
    @include flex-row(stretch, center);
    padding-top: 32px;
    padding-bottom: 32px;
    @include media {
      padding-top: 82px;
      padding-bottom: 82px;
    }
  }
  &__section-image {
    flex: 0 0 30%;
    @include flex-row(flex-start, center);
  }
  &__section-content {
    flex: 1 1;
  }
  &__text {
    @include text($H600, 400, $N900);
    margin: 0;
    line-height: 1.5;
    @include media {
      font-size: $H600;
    }
    &--light {
      font-weight: 300;
      color: $N0;
      @include media {
        line-height: 1.5;
        font-weight: 300;
        padding: 0 8%;
      }
    }
    &--center {
      text-align: center;
    }
  }
  &__video-layer {
    position: fixed;
    height: 100vh;
    @include position;
  }
  &__text-frame {
    border: 1px solid $N40;
    border-radius: 3px;
  }
  &__slider {
    border-radius: 3px;
    padding: 24px 0;
    position: relative;
    @include media {
      padding: 32px 8%;
    }
    .s-uk-slider {
      border-radius: 3px;
      overflow: hidden;
    }
  }
  &__icon {
    @include size(200px);
  }
  &__frame {
    position: relative;
    border: 1px solid $N100;
    border-left: none;
    border-right: none;
    padding: 62px 0;
    @include flex-col(center, center);
    &:after, &:before {
      position: absolute;
      content: '';
      height: 1px;
      width: 90%;
      background-color: $N100;
    }
    &:after {
      top: 16px;
    }
    &:before {
      bottom: 16px;
    }
  }
  &__clip {
    $list:
      1 330px 33% auto auto,
      2 122px 4% auto auto,
      3 362px 2.5% auto auto,
      4 626px 4% auto auto,
      5 12px auto auto 22%,
      6 179px auto auto 2%,
      7 380px auto auto 3.5%,
      8 650px auto auto 4.9%;
    @include size(32px);
    position: absolute;
    @each $n, $top, $right, $bottom, $left in $list {
      &:nth-child(#{$n}) {
        top: $top;
        left: $left;
        right: $right;
        bottom: $bottom;
      }
    }
    &--header {
      &:nth-child(1), &:nth-child(3), &:nth-child(8) {
        display: none;
        @include media {
          display: block;
        }
      }
    }
    &--section-small {
      $list:
        1 22px 58% auto auto,
        2 12px 95% auto auto,
        3 222px 2.8% auto auto,
        4 526px 4% auto auto,
        5 -10px auto auto 88%,
        6 -28px auto auto 55%,
        7 320px auto auto 44%,
        8 320px auto auto 14%;
        @each $n, $top, $right, $bottom, $left in $list {
          &:nth-child(#{$n}) {
            top: $top;
            left: $left;
            right: $right;
            bottom: $bottom;
          }
        }
        &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(6), &:nth-child(8), &:nth-child(7) {
          display: none;
          @include media {
            display: block;
          }
        }
        &:nth-child(4) {
          display: none;
        }
    }
    &--slider {
      $list:
        1 -42px 32% auto auto,
        2 12px 14% auto auto,
        3 222px 2.8% auto auto,
        4 526px 4% auto auto,
        5 -10px auto auto 28%,
        6 -28px auto auto 5%,
        7 280px auto auto 2%,
        8 550px auto auto 4%;
        @each $n, $top, $right, $bottom, $left in $list {
          &:nth-child(#{$n}) {
            top: $top;
            left: $left;
            right: $right;
            bottom: $bottom;
          }
        }
        &:nth-child(2), &:nth-child(5), &:nth-child(4), &:nth-child(7), &:nth-child(8) {
          display: none;
          @include media {
            display: block;
          }
        }
    }
  }
  &__heading {
    width: 100%;
    text-align: center;
    margin-bottom: 32px;
    @include text($H800, 500);
  }
}