$style: about;

.#{$style} {
  min-height: 100vh;
  &__header {
    position: relative;
    z-index: 1;
  }
  &__header-inner {
    height: 100%;
    width: 100%;
    @include flex-col(center, center);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 32px 8%;
    @include media {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
  &__title {
    text-align: center;
    @include text($H800, 400);
    margin-bottom: 32px;
    @include media {
      font-size: $H900;
    }
  }
  &__header-image {
    height: 100vh;
    min-height: 500px;
    background-position: center bottom;
  }
  &__section {
    position: relative;
    @extend %section;
    min-height: 300px;
    @include flex-row(stretch, center);
    padding-top: 32px;
    padding-bottom: 32px;
    @include media {
      padding-top: 82px;
      padding-bottom: 82px;
    }
  }
  &__section-image {
    flex: 0 0 30%;
    @include flex-row(flex-start, center);
  }
  &__section-content {
    flex: 1 1;
  }
  &__text {
    @include text($H500, 400, $N900);
    margin: 0;
    line-height: 1.4;
    @include media {
      font-size: $H600;
      line-height: 1.5;
    }
    &--light {
      color: $N0;
    }
    &--center {
      text-align: center;
    }
  }
  &__video-layer {
    position: fixed;
    height: 100vh;
    @include position;
  }
  &__text-frame {
    border: 1px solid $N40;
    border-radius: 3px;
  }
  &__slider {
    border-radius: 3px;
    padding: 24px 0;
    @include media {
      padding: 32px 8%;
    }
    .s-uk-slider {
      border-radius: 3px;
      overflow: hidden;
    }
  }
  &__icon {
    @include size(200px);
  }
  &__frame {
    position: relative;
    border: 1px solid $N100;
    border-left: none;
    border-right: none;
    padding: 62px 0;
    @include flex-col(center, center);
    &:after, &:before {
      position: absolute;
      content: '';
      height: 1px;
      width: 90%;
      background-color: $N100;
    }
    &:after {
      top: 16px;
    }
    &:before {
      bottom: 16px;
    }
  }
  &__clip {
    $list:
      1 32px 3% auto auto,
      2 162px 4.5% auto auto,
      3 362px 2.5% auto auto,
      4 526px 5% auto auto,
      5 46px auto auto 3%,
      6 199px auto auto 2%,
      7 380px auto auto 3.5%,
      8 550px auto auto 4.9%;
    @include size(32px);
    position: absolute;
    @each $n, $top, $right, $bottom, $left in $list {
      &:nth-child(#{$n}) {
        top: $top;
        left: $left;
        right: $right;
        bottom: $bottom;
      }
    }
  }
}