.teachers {
  @extend %container;
  &__list {
    @include flex-row(flex-start, stretch);
    flex-wrap: wrap;
    width: 100%;
  }
  &__title {
    display: none;
    @include media {
      display: block;
      @include text($H800, 400);
      margin-bottom: 32px;
    }
  }
}