$style: teacher-card;
.#{$style} {
  position: relative;
  $gap: 32px;
  flex: 1 1 100%;
  margin-bottom: $gap;
  border-radius: 3px;
  box-shadow: $SH4;
  line-height: 1;
  cursor: pointer;
  @include transition(all);
  @include flex-col(flex-start, stretch);
  @include media {
    &:hover {
      box-shadow: $SH3;
    }
  }
  &__image-wrapper {
    border-radius: 3px 3px 0 0;
    background-color: $N100;
    height: 220px;
    width: 100%;
  }
  &__image {
    border-radius: 3px 3px 0 0;
    @include size(100%);
    object-fit: cover;
    object-position: center center;
  }
  &__body {
    padding: 24px;
    background-color: $N0;
    position: relative;
    top: -6px;
    border-radius: 0 0 3px 3px;
  }
  @include media(600px) {
    flex: 0 0 calc(50% - #{$gap});
    margin: 0 calc(#{$gap} / 2) $gap;
    max-width: calc(50% - #{$gap});
  }
  @include media($screen-desktop) {
    flex: 1 1 calc(33% - #{$gap});
    max-width: calc(33% - #{$gap});
  }
  @include media($screen-fullhd) {
    min-width: 200px;
    flex: 1 1 calc(25% - #{$gap});
    max-width: calc(25% - #{$gap});
  }
  @include media($screen-retina) {
    flex: 1 1 calc(20% - #{$gap});
    max-width: calc(20% - #{$gap});
  }
  &__name {
    @include text($H500, 500);
    margin-bottom: 12px;
  }
  &__description {
    @include text($H300, 400, $N100);
    @include media {
      font-size: $H400;
    }
  }
  &__delete {
    position: absolute;
    top: 8px;
    right: 8px;
  }
}