@font-face {
    font-family: 'e-Ukraine-Head';
    src: url('/fonts/dija/e-UkraineHead-Thin.woff2') format('woff2'),
        url('/fonts/dija/e-UkraineHead-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine-Head';
    src: url('/fonts/dija/e-UkraineHead-Medium.woff2') format('woff2'),
        url('/fonts/dija/e-UkraineHead-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine-Head';
    src: url('/fonts/dija/e-UkraineHead-Bold.woff2') format('woff2'),
        url('/fonts/dija/e-UkraineHead-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine';
    src: url('/fonts/dija/e-Ukraine-Bold.woff2') format('woff2'),
        url('/fonts/dija/e-Ukraine-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine';
    src: url('/fonts/dija/e-Ukraine-Medium.woff2') format('woff2'),
        url('/fonts/dija/e-Ukraine-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine-Head';
    src: url('/fonts/dija/e-UkraineHead-UltraLight.woff2') format('woff2'),
        url('/fonts/dija/e-UkraineHead-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine';
    src: url('/fonts/dija/e-Ukraine-Light.woff2') format('woff2'),
        url('/fonts/dija/e-Ukraine-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine-Head-LOGO';
    src: url('/fonts/dija/e-UkraineHead-LOGO.woff2') format('woff2'),
        url('/fonts/dija/e-UkraineHead-LOGO.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine';
    src: url('/fonts/dija/e-Ukraine-UltraLight.woff2') format('woff2'),
        url('/fonts/dija/e-Ukraine-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine-Head';
    src: url('/fonts/dija/e-UkraineHead-Regular.woff2') format('woff2'),
        url('/fonts/dija/e-UkraineHead-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine-Head';
    src: url('/fonts/dija/e-UkraineHead-Light.woff2') format('woff2'),
        url('/fonts/dija/e-UkraineHead-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine';
    src: url('/fonts/dija/e-Ukraine-Thin.woff2') format('woff2'),
        url('/fonts/dija/e-Ukraine-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine';
    src: url('/fonts/dija/e-Ukraine-Regular.woff2') format('woff2'),
        url('/fonts/dija/e-Ukraine-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine';
    src: url('/fonts/dija/e-Ukraine-Thin.woff2') format('woff2'),
        url('/fonts/dija/e-Ukraine-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine-Head';
    src: url('/fonts/dija/e-UkraineHead-Regular.woff2') format('woff2'),
        url('/fonts/dija/e-UkraineHead-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine';
    src: url('/fonts/dija/e-Ukraine-UltraLight.woff2') format('woff2'),
        url('/fonts/dija/e-Ukraine-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine-Head';
    src: url('/fonts/dija/e-UkraineHead-Thin.woff2') format('woff2'),
        url('/fonts/dija/e-UkraineHead-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine';
    src: url('/fonts/dija/e-Ukraine-Bold.woff2') format('woff2'),
        url('/fonts/dija/e-Ukraine-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine';
    src: url('/fonts/dija/e-Ukraine-Light.woff2') format('woff2'),
        url('/fonts/dija/e-Ukraine-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine-Head';
    src: url('/fonts/dija/e-UkraineHead-Medium.woff2') format('woff2'),
        url('/fonts/dija/e-UkraineHead-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine-Head';
    src: url('/fonts/dija/e-UkraineHead-Bold.woff2') format('woff2'),
        url('/fonts/dija/e-UkraineHead-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine';
    src: url('/fonts/dija/e-Ukraine-Medium.woff2') format('woff2'),
        url('/fonts/dija/e-Ukraine-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine-Head';
    src: url('/fonts/dija/e-UkraineHead-UltraLight.woff2') format('woff2'),
        url('/fonts/dija/e-UkraineHead-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine-Head';
    src: url('/fonts/dija/e-UkraineHead-Light.woff2') format('woff2'),
        url('/fonts/dija/e-UkraineHead-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine-Head-LOGO';
    src: url('/fonts/dija/e-UkraineHead-LOGO.woff2') format('woff2'),
        url('/fonts/dija/e-UkraineHead-LOGO.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine';
    src: url('/fonts/dija/e-Ukraine-Regular.woff2') format('woff2'),
        url('/fonts/dija/e-Ukraine-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine';
    src: url('/fonts/dija/e-Ukraine-Regular.woff2') format('woff2'),
        url('/fonts/dija/e-Ukraine-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine-Head';
    src: url('/fonts/dija/e-UkraineHead-Bold.woff2') format('woff2'),
        url('/fonts/dija/e-UkraineHead-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine-Head';
    src: url('/fonts/dija/e-UkraineHead-Thin.woff2') format('woff2'),
        url('/fonts/dija/e-UkraineHead-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine-Head';
    src: url('/fonts/dija/e-UkraineHead-Medium.woff2') format('woff2'),
        url('/fonts/dija/e-UkraineHead-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine';
    src: url('/fonts/dija/e-Ukraine-UltraLight.woff2') format('woff2'),
        url('/fonts/dija/e-Ukraine-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine-Head';
    src: url('/fonts/dija/e-UkraineHead-Light.woff2') format('woff2'),
        url('/fonts/dija/e-UkraineHead-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine-Head';
    src: url('/fonts/dija/e-UkraineHead-Regular.woff2') format('woff2'),
        url('/fonts/dija/e-UkraineHead-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine-Head';
    src: url('/fonts/dija/e-UkraineHead-UltraLight.woff2') format('woff2'),
        url('/fonts/dija/e-UkraineHead-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine-Head-LOGO';
    src: url('/fonts/dija/e-UkraineHead-LOGO.woff2') format('woff2'),
        url('/fonts/dija/e-UkraineHead-LOGO.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine';
    src: url('/fonts/dija/e-Ukraine-Bold.woff2') format('woff2'),
        url('/fonts/dija/e-Ukraine-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine';
    src: url('/fonts/dija/e-Ukraine-Light.woff2') format('woff2'),
        url('/fonts/dija/e-Ukraine-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine';
    src: url('/fonts/dija/e-Ukraine-Thin.woff2') format('woff2'),
        url('/fonts/dija/e-Ukraine-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine';
    src: url('/fonts/dija/e-Ukraine-Medium.woff2') format('woff2'),
        url('/fonts/dija/e-Ukraine-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

