$style: admin;
.#{$style} {
  @extend %container;
  padding-top: 98px;
  @include media {
    padding-top: 28px;
  }
  &__header {
    line-height: 1;
    @include flex-row(space-between, flex-end);
  }
  &__title {
    display: none;
    @include media {
      display: block;
      margin-right: 32px;
      @include text($H800, 400);
    }
  }
  &__container {
    padding-top: 12px;
    @include media {
      padding-top: 24px;
    }
  }
  &__navigation {
    margin-bottom: 32px;
  }
}
