$style: law;
.#{$style} {
  @extend %container;
  line-height: 1;
  &__title {
    display: none;
    @include media {
      display: block;
      @include text($H800, 400);
      margin-bottom: 32px;
    }
  }
  &__item {
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0;
    }
    padding-bottom: 12px;
    border-bottom: 1px solid $N600;
  }
  &__name {
    @include text($H400, 500);
    line-height: 1.4;
    @include transition(all);
  }
  &__name-link {
    margin-bottom: 8px;
    display: block;
    @include media {
      &:hover {
        .#{$style}__name {
          color: $N600;
        }
      }
    }
    &:active {
      .#{$style}__name {
        color: $N900;
      }
    }
  }
  &__badge {
    margin-right: 12px;
  }
  &__date {
    @include text($H100, 400, $N200);
  }
  &__info {
    margin-bottom: 8px;
    @include flex-row(flex-start, center);
  }
  &__description {
    @include text($H200, 400);
    padding-right: 12px;
    line-height: 1.4;
  }
  &__navigation {
    @include flex-row(flex-start, flex-end);
    margin-bottom: 32px;
    .s-badge {
      position: relative;
      top: -2px;
      margin-right: 12px;
    }
  }
  &__list {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    border-radius: 3px;
    background-color: $N10;
    padding: 24px;
  }
}