$style: law;
.#{$style} {
  @extend %container;
  line-height: 1;
  &__title {
    display: none;
    @include media {
      display: block;
      @include text($H800, 400);
      margin-bottom: 32px;
    }
  }
  &__item {
    position: relative;
    min-height: 78px;
    // overflow: hidden;
    max-width: 100%;
    @include flex-row(flex-start, center);
    &:last-child {
      margin-bottom: 0;
    }
    padding: 12px 0;
    border-bottom: 1px solid $N60;
  }
  &__name {
    @include text($H300, 500);
    line-height: 1.4;
    @include transition(all);
    &.margin {
      margin-bottom: 8px;
    }
    @include media {
      margin-bottom: 8px;
    }
  }
  &__badge {
    margin-right: 24px;
    display: none;
    @include media {
      display: inline-flex;
    }
  }
  &__date {
    @include text($H100, 400, $N200);
  }
  &__info {
    @include flex-row(flex-start, center);
  }
  &__description {
    @include text($H200, 400);
    padding-right: 12px;
    line-height: 1.4;
  }
  &__list {
    max-height: calc(360px);
    overflow-y: auto;
    @include media {
      padding: 24px;
      background-color: $N10;
      border-radius: 3px;
    }
  }
  &__section {
    margin-bottom: 32px;
  }
  &__caption {
    @include text($H500, 500);
    margin-bottom: 24px;
  }
  &__content-wrapper {
    flex: 1 1;
  }
  &__link-wrapper {
    padding: 12px;
  }
  &__link {
    @include flex-row(center, center);
  }
  &__icon {
    @include size(32px);
  }
  &__empty {
    margin-top: 32px;
    font-family: $head-font;
    @include text($H500, 300, $N100);
  }
  &__button {
    margin-right: 12px;
  }
  &__change-doc {
    position: absolute;
    @include position;
    z-index: 100;
    border-radius: 3px;
    background-color: $N10;
    top: 2px;
    @include flex-row(stretch, stretch);
    .filepond--root {
      position: relative;
      z-index: 101;
      margin-right: 24px;
      margin-bottom: 0;
      min-width: 300px;
      max-width: 300px;
    }
  }
  &__back {
    position: absolute;
    top: 0;
    left: 6px;
    z-index: 6;
    @include size(26px, true);
    background-color: $N0;
    cursor: pointer;
    @include flex-row(center, center);
  }
  &__icon-back {
    @include svg(16px, $N900);
  }
  &__buttons-wrapper {
    @include flex-col(space-between);
    & > * {
      &:first-child {
        margin-bottom: 12px;
      }
    }
  }
}