.home-banner {
  @include flex-row(flex-start, center);
  padding-top: 16vh;
  @include media {
    padding-top: 0;
  }
  &__title {
    @include text($H700, 400, $N0);
    &:last-child {
      margin: 0;
    }
    @include media {
      font-size: $H900;
    }
  }
  &__logo {
    width: 60px;
    margin-right: 24px;
    @include media {
      width: 70px;
    }
  }
}