$sizeX: 48px;
$sizeY: 38px;
$top: 42px;
$border-width: 1px;
$border-radius: 4px;

.home {
  position: fixed;
  width: 100%;
  @include position;
  padding: 68px 24px;
  background-image: url('/images/23_bg.jpg');
  background-position-x: 47%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $N00;
  @include media {
    position: relative;
    height: 100vh;
    background: $N00;
    padding: 32px;
  }
  &__layer {
    @extend %layer;
    @include z-index(wrapper);
    background-color: rgba(0, 0, 0, 0.3);
  }
  &__video {
    position: absolute;
    @include position;
    background-color: $N00;
  }

  &__banner {
    position: relative;
    @include media {
      position: absolute;
      top: 80px;
      left: 120px;
    }
    @include media($screen-desktop) {
      top: 60px;
      left: 60px;
    }
  }
  &__line {
    position: relative;
    @include z-index(line);
    @include flex-col(space-between, stretch);
    height: 98%;
    @include media($screen-desktop) {
      position: absolute;
      height: auto;
      display: block;
      border-radius: $border-radius;
      @include position($top, $sizeX, $sizeY, $sizeX);
      border: $border-width solid white;
      border-top-color: transparent;
      border-left-color: transparent;
      &:after,
      &:before {
        content: '';
        border: $border-width solid white;
        display: block;
      }
      &:after {
        border-top-color: transparent;
        border-right-color: transparent;
        @include size(90%);
        position: relative;
        top: calc(10% + #{$border-width});
        left: -$border-width;
        border-radius: 0 0 0 #{$border-radius};
      }
      &:before {
        border-left-color: transparent;
        border-bottom-color: transparent;
        width: 70%;
        height: 40px;
        position: absolute;
        right: -$border-width;
        top: -$border-width;
        border-radius: 0 #{$border-radius} 0 0;
      }
    }
    @include media($screen-fullhd) {
      &:before {
        width: 80%;
      }
    }
  }
  &__city {
    @include text($H600, 300, $N0);
    font-family: $head-font;
    margin-bottom: 24px;
    // bottom: 102px;
    @include media {
      margin-bottom: 0;
      position: absolute;
      bottom: 80px;
      left: 120px;
    }
    @include media($screen-desktop) {
      bottom: 60px;
      left: 60px;
    }
  }
  &__info {
    margin-top: 24px;
    @include media {
      display: none;
    }
  }
}
