$names: 'before', 'lesson', 'break', 'after';
$bg: ("before": $P300, "lesson": $G300, "break": $Y300, "after": $B300);
$color: ("before": $N0, "lesson": $N0, "break": $N0, "after": $N0);
$styles: nav-info;

.#{$styles} {
  padding: 8px 12px;
  @include flex-row(flex-start, center);
  margin-bottom: 24px;
  border-radius: 2px;
  box-shadow: $SH1;
  line-height: 1.3;
  @each $name in $names {
    &.#{$name} {
      background-color: map-get($bg, $name);
      color: map-get($color, $name);
      @include AnimationBG($name);
    }
  }
  &__time {
    font-size: $H500;
    font-weight: 500;
    margin-right: 2px;
    flex: 0 0 50px;
    color: $N0;
    @include media {
      margin-right: 10px;
      font-size: $H800;
      flex: 0 0 70px;
    }
  }
  &__text {
    font-size: $H300;
    padding-top: 1px;
    font-weight: 400;
    &::first-letter {
      text-transform: capitalize;
    }
    @include media {
      font-size: $H500;
    }
  }
  &__clock {
    margin-right: 12px;
    @include media {
      margin-right: 24px;
    }
    .react-clock__face {
      background-color: $N0;
    }
  }
}