$style: login;
.#{$style} {
  @extend %container;
  &__title {
    line-height: 1;
    display: none;
    @include media {
      display: block;
      @include text($H800, 400);
      margin-bottom: 32px;
    }
  }
  &__container {
    padding-top: 12px;
    @include media {
      padding-top: 24px;
    }
  }
  &__loader {
    justify-content: flex-start;
  }
  &__form {
    max-width: 400px;
  }
  &__input {
    margin-bottom: 12px;
    &:last-of-type {
      margin-bottom: 32px;
    }
  }
}