$style: Header;

.#{$style} {
  @include flex-row(flex-start, center);
  @include media($screen-tablet) {
    padding: 0 0 42px;
  }
  @include media {
    min-height: 64px;
  }
  &__title {
    display: none;
    @include media {
      display: block;
      @include text($H700, 400, $N900);
      margin-right: 24px;
    }
  }
}
