$style: SchoolCanteenPage;

.#{$style} {
  &__card {
    border-radius: 4px;
    position: relative;
    padding: 12px 0;
    max-width: 1200px;
    margin: 0 auto 12px;
    @include media {
      margin-bottom: 24px;
    }
    &:hover {
      .#{$style}__badge {
        opacity: 0.3;
      }
      .slick-caption {
        opacity: 0;
      }
      .slick-arrow {
        opacity: 0.7 !important;
        visibility: visible;
      }
      img {
        filter: brightness(0.8);
      }
    }
  }
  &__badge {
    position: absolute;
    top: 40px;
    left: 12px;
    z-index: 2;
    @include transition(opacity);
    @include media($screen-iphone-plus) {
      left: 24px;
    }
    @include media($screen-tablet-small) {
      left: 32px;
    }
    @include media(600px) {
      left: 80px;
    }
    @include media(640px) {
      left: 100px;
    }
    @include media(680px) {
      left: 120px;
    }
    @include media(740px) {
      left: 140px;
    }
    @include media($screen-tablet) {
      left: 90px;
    }
    @include media(920px) {
      left: 150px;
    }
    @include media(960px) {
      left: 160px;
    }
    @include media(990px) {
      left: 130px;
    }
    @include media(1124px) {
      left: 140px;
    }
    @include media(1180px) {
      left: 150px;
    }
    @include media(1366px) {
      left: 180px;
    }
  }
  &__remove-btn {
    position: absolute;
    top: 40px;
    right: 12px;
    z-index: 2;
    @include transition(opacity);
    @include media($screen-iphone-plus) {
      right: 24px;
    }
    @include media($screen-tablet-small) {
      right: 32px;
    }
    @include media(600px) {
      right: 80px;
    }
    @include media(640px) {
      right: 100px;
    }
    @include media(680px) {
      right: 120px;
    }
    @include media(740px) {
      right: 140px;
    }
    @include media($screen-tablet) {
      right: 90px;
    }
    @include media(920px) {
      right: 150px;
    }
    @include media(960px) {
      right: 160px;
    }
    @include media(990px) {
      right: 130px;
    }
    @include media(1124px) {
      right: 140px;
    }
    @include media(1180px) {
      right: 150px;
    }
    @include media(1366px) {
      right: 180px;
    }
  }
  &__slider {
    .slick-list {
      border-radius: 4px;
      overflow: hidden;
      background-color: $P50;
      border: 12px solid $P50;
    }
    img {
      @include transition(filter);
      filter: brightness(0.8);
    }
  }
  .slick-dots,
  .slick-caption {
    @include transition(opacity);
  }
  .slick-arrow {
    @include transition(opacity, visibility);
    visibility: hidden;
    opacity: 0 !important;
  }
}
