$style: SchoolCanteenPage;

.#{$style} {
  &__grid {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }
  &__card {
    border-radius: 4px;
    position: relative;
    padding: 20px 0;
    max-width: 1200px;
    margin: 0 auto 12px;
    @include media {
      padding: 12px 0;
      margin-bottom: 24px;
    }
    &:hover {
      .#{$style}__badge {
        opacity: 0.3;
      }
      .slick-caption {
        opacity: 0;
      }
      .slick-arrow {
        opacity: 0.7 !important;
        visibility: visible;
      }
      img {
        filter: brightness(0.8);
      }
    }
  }
  &__badge {
    position: absolute;
    top: 30px;
    left: 12px;
    z-index: 2;
    @include transition(opacity);
    @include media($screen-iphone-plus) {
      left: 24px;
    }
    @include media($screen-tablet-small) {
      top: 40px;
      left: 32px;
    }
    @include media(600px) {
      left: 40px;
    }
    @include media(1090px) {
      left: 50px;
    }
    @include media(1120px) {
      left: 60px;
    }
    @include media(1150px) {
      left: 70px;
    }
    @include media(1170px) {
      left: 80px;
    }
  }
  &__remove-btn {
    position: absolute;
    top: 30px;
    right: 12px;
    z-index: 2;
    @include transition(opacity);
    @include media($screen-iphone-plus) {
      right: 24px;
    }
    @include media($screen-tablet-small) {
      top: 40px;
      right: 32px;
    }
    @include media(600px) {
      right: 40px;
    }
    @include media(1090px) {
      right: 50px;
    }
    @include media(1120px) {
      right: 60px;
    }
    @include media(1150px) {
      right: 70px;
    }
    @include media(1170px) {
      right: 80px;
    }
  }
  &__slider {
    .slick-list {
      border-radius: 4px;
      overflow: hidden;
      background-color: $P50;
      border: 12px solid $P50;
    }
    img {
      @include transition(filter);
      filter: brightness(0.8);
    }
  }
  .slick-dots,
  .slick-caption {
    @include transition(opacity);
  }
  .slick-arrow {
    @include transition(opacity, visibility);
    visibility: hidden;
    opacity: 0 !important;
  }
}
