$style: news-post;
.#{$style} {
  @extend %container;
  line-height: 1.5;
  &__header {
    line-height: 1;
    margin-bottom: 24px;
  }
  &__info {
    @include flex-row(flex-start, baseline);
  }
  &__title {
    @include text($H700, 400);
    margin-right: 24px;
  }
  &__description {
    @include text($H400, 400);
    @include media {
      font-size: $H200;
    }
  }
  &__button-back {
    margin-bottom: 24px;
  }
  &__container {
    margin-bottom: 32px;
    @include media {
      margin-bottom: 0;
    }
  }
  &__bottom-bar {
    position: fixed;
    @include position(auto, 6px, 12px, 6px);
    @include media {
      display: none;
    }
  }
}