$style: post;
$container: 800px;
.#{$style} {
  font-size: 14px;
  &._pure {
    .#{$style}__container,
    .#{$style}__content {
      box-shadow: none;
    }
  }
  &__header {
    line-height: 1;
    margin-bottom: 24px;
  }
  &__info {
    @include flex-row(flex-start, baseline);
  }
  &__row {
    margin-bottom: 24px;
  }
  &__video {
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  &__title-wrapper {
    width: 100%;
    text-align: center;
    align-self: center;
    margin-bottom: 32px;
    padding: 24px;
    background-color: rgba($P50, 0.5);
    max-width: $container;
    border-radius: 4px;
  }
  &__title {
    align-self: center;
    @include text($H600, 500, $N900);
    text-align: center;
    max-width: $container - 200px;
    margin: 0 auto;
    @include media {
      font-size: $H700;
    }
  }
  &__description {
    @include text($H400, 400);
    @include media {
      font-size: $H200;
    }
  }
  &__button-back {
    margin-right: 32px;
    display: none;
    @include media {
      display: inline-block;
    }
  }
  &__button-edit {
    margin-bottom: 18px;
    margin-right: 24px;
    @include media {
      margin-right: 12px;
      margin-bottom: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &__popup {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    min-height: 100vh;
    background-color: $N0;
    padding-bottom: 32px;
  }
  &__container {
    @include flex-col(flex-start, stretch);
    flex-grow: 1;
    position: relative;
    margin-bottom: 32px;
    border-radius: 4px;
    max-width: $container;
    margin: 0 auto;
    width: 100%;
  }
  &__iframe {
    width: 100%;
    height: calc(100vh - 200px);
    border-radius: 4px;
    border: 8px solid $P50;
    border-radius: 4px;
  }
  &__comments {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    font-size: $H300;
    line-height: 1.5;
    .media {
      position: relative;
    }
    .delete {
      position: absolute;
      top: 6px;
      right: 6px;
    }
  }
  &__heading {
    font-size: $H400;
    margin-bottom: 24px;
  }
  &__reply-form {
    padding: 24px;
    max-width: 700px;
    margin: 0 auto;
  }
  &__comment-text {
    display: block;
    padding: 12px 0;
  }
  &__commentator {
    display: block;
    margin-bottom: 4px;
    font-weight: 700;
  }
  
  &__like-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    margin-top: 32px;
    border-top: 1px solid $N100;
  }
  
  &__like-button {
    font-size: 16px;
    
    .like-button__icon {
      width: 24px;
      height: 24px;
    }
    
    .like-button__count {
      @include text($B400, 500);
    }
  }
}
