$names: 'blue', 'green', 'cyan', 'red', 'yellow';
$bg-default: (
  'blue': $B50,
  'green': $G50,
  'cyan': $C50,
  'red': $R50,
  'yellow': $Y50
);
$color: (
  'blue': $B400,
  'green': $G400,
  'cyan': $C400,
  'red': $R400,
  'yellow': darken($Y400, 8%)
);

$styles: s-badge;
.#{$styles} {
  background-color: $B50;
  border-radius: 999px;
  padding: 3px 9px;
  @include flex-row(center, center);
  display: inline-flex;
  box-shadow: none;
  cursor: default;
  line-height: 1.2;
  @include transition(box-shadow, background-color);
  pointer-events: all;
  &.large {
    padding: 5px 12px;
    .#{$styles}__text {
      font-size: $H300;
    }
  }
  &__text {
    font-size: $H110;
    font-weight: 500;
    font-family: $head-font;
    letter-spacing: 0.01em;
    pointer-events: none;
    white-space: nowrap;
    &::first-letter {
      text-transform: uppercase;
    }
  }
  @each $name in $names {
    &.#{$name} {
      background-color: map-get($bg-default, $name);
      color: map-get($color, $name);
      svg {
        @include size(10px);
        fill: map-get($color, $name);
        margin-right: 6px;
        pointer-events: none;
      }
    }
  }
}
