$style: Slider;
@mixin padding-hack($padding: 50%, $size: contain, $dev: false) {
  position: relative;
  height: 0;
  padding-bottom: $padding;
  @if $dev {
    background-color: red;
  }
  img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: $size;
    @if $dev {
      object-fit: contain;
    }
  }
}
.#{$style} {
  max-width: 100%;
  margin-bottom: 12px;
  &__slide {
    cursor: pointer;
  }
  .slick-arrow {
    background-color: rgba($N0, 0.5) !important;
    opacity: 0.7 !important;
    @include media {
      opacity: 1 !important;
      width: 42px !important;
      background-color: transparent !important;
    }
  }
  div[class*='makeStyles-grid-'] {
    margin-left: -24px;
    margin-right: -24px;
    @include media {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
  div[class*='makeStyles-card-'] {
    margin: 0 !important;
  }
  div[class*='makeStyles-container-'],
  div[class*='makeStyles-grid-'] {
    padding: 0 !important;
    @include media {
      padding: 0 15px !important;
    }
  }
  @include media {
    .slick-next {
      right: -42px;
    }
    .slick-prev {
      left: -42px;
    }
  }

  .slick-arrow::before,
  .slick-arrow::after {
    color: $N900;
  }
  div:not(.slick-caption) {
    box-shadow: none;
  }
  .slick-dots {
    display: none !important;
    @include media {
      display: block !important;
    }
  }
  .slick-slide {
    border-radius: 6px;
    & > div:not(.slick-caption) {
      display: flex !important;
      div:not(.slick-caption) {
        display: inline-flex !important;
        @include padding-hack(55%, contain);
        @include media {
          @include padding-hack(55%, contain);
        }
      }
      img {
        border-radius: 4px !important;
      }
    }
  }
  div.slick-caption {
    top: 0;
    bottom: 0;
    @include flex-col(center, center);
    display: flex !important;
  }
  &__card {
    max-width: 900px;
    margin: 0 auto;
  }
}
