$style: s-modal;
.#{$style} {
  position: fixed;
  @include position();
  @include z-index(popup);
  overflow-y: auto;
  padding: 16px;
  @include flex-col(flex-start, center);
  @include media {
    padding: 48px 24px;
  }
  &__bg {
    position: fixed;
    @include position();
    background-color: rgba(9, 30, 66, 0.54);
  }
  &__card {
    position: relative;
    width: 100%;
    max-width: 640px;
    background-color: $N10;
    border-radius: 12px;
    box-shadow: $SH4;
    &._wide {
      max-width: 960px;
    }
  }
  &__header {
    position: sticky;
    top: -16px;
    z-index: 2;
    @include flex-row(space-between, center);
    padding: 16px 20px;
    border-bottom: 1px solid $N40;
    background-color: $N0;
    border-radius: 12px 12px 0 0;
    @include media {
      top: -48px;
    }
  }
  &__title {
    @include text($H700, 500, $N900);
    font-family: $head-font;
  }
  &__close {
    @include size(36px, true);
    @include flex-row(center, center);
    border: none;
    background: transparent;
    cursor: pointer;
    @include transition;
    &:hover {
      background-color: $N30;
    }
    svg {
      @include svg(16px, $N700);
    }
  }
  &__body {
    padding: 20px;
    @include media {
      padding: 24px;
    }
  }
}
