$names: "info", "success", "error";
$color: (
  "info": transparent,
  "success": $G300,
  "error": transparent,
);
$color-fill: (
  "info": $B300,
  "success": $N0,
  "error": $Y300
);
$padding: (
  "info": 0,
  "success": 3px,
  "error": 3px
);

$styles: s-notification;
.#{$styles} {
  background-color: $N0;
  border-radius: 4px;
  box-shadow: $SH4;
  width: 100%;
  max-width: 270px;
  min-height: 42px;
  padding: 6px 12px;
  @include flex-row(flex-start, center);
  &__text {
    font-size: $H20;
    color: $N900;
    padding-top: 1px;
    margin-left: 12px;
  }
  &__icon-wrapper {
    border-radius: 50%;
    background-color: transparent;
    @include size(18px);
    @include flex-col(center, center);
  }
  &__icon {
    @include size(12px);
    &--error {
      @include size(19px);
    }
    &--info {
      @include size(17px);
    }
  }

  @each $name in $names {
    &.#{$name} {
      .#{$styles}__icon-wrapper {
        background-color: map-get($color, $name);
      }
      svg {
        fill: map-get($color-fill, $name);
      }
    }
  }
}
