$names: "info", "success", "error";
$color: (
  "info": $B300,
  "success": $G300,
  "error": $Y300,
);
$color-text: (
  "info": $N0,
  "success": $N0,
  "error": $N0,
);

$styles: s-notification;
.#{$styles} {
  background-color: $N0;
  border-radius: 4px;
  box-shadow: $SH4;
  width: 100%;
  min-height: 42px;
  padding: 6px 24px;
  @include flex-row(flex-start, center);
  cursor: pointer;
  @include media {
    max-width: 420px;
  }
  &__text {
    font-size: $H200;
    color: $N900;
  }
  &__icon {
    font-size: 16px;
    margin-right: 12px;
  }

  @each $name in $names {
    &.#{$name} {
      .#{$styles}__text {
        color: map-get($color-text, $name);
      }
      background-color: map-get($color, $name);
    }
  }
}
