$style: s-popup;
.#{$style} {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: auto;
  height: 100vh;
  @include z-index(popup);
  &__bg {
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.40);
    @include transition;
    &:active {
      background: rgba(0,0,0,0.42);
    }
  }
  &__wrapper {
    min-height: 100%;
    @include flex-col(center, center);
    padding: 24px 0;
  }
  &__card {
    pointer-events: all;
    border-radius: 4px;
    background-color: $N0;
    flex: 0 0;
    position: relative;
    @include media {
      min-width: 450px;
      width: 33%;
    }
  }
  &__header {
    background-color: $N20;
    border-radius: 4px 4px 0 0;
    padding: 26px 32px;
    @include flex-row(space-between, center);
  }
  &__title {
    @include text($H70, 500);
  }
  &__close-icon {
    @include svg(17px, $N100);
  }
  &__close-button {
    cursor: pointer;
    background-color: transparent;
    display: inline-block;
    @include media {
      &:hover {
        .#{$style}__close-icon {
          fill: $N90;
        }
      }
    }
    &:active {
      .#{$style}__close-icon {
        fill: $N200;
      }
    }
  }
  &.withButons {
    .#{$style}__body {
      padding: 24px 30px 32px;
      border-bottom: 1px solid $N40;
    }
  }
  &__buttons {
    padding: 16px 32px;
    @include flex-row(flex-end, center);
    & > *:first-child {
      margin-right: 24px;
    }
  }
}