$styles: s-up;
.#{$styles} {
  cursor: pointer;
  pointer-events: all;
  @include flex-col(center, center);
  display: none;
  @include transition(all);
  border-radius: 3px;
  background-color: transparent;
  line-height: 1;
  position: fixed;
  right: -100px;
  bottom: 80px;
  transition: right 0.5s;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  outline: none;
  border: none;
  @include media {
    display: flex;
  }
  &__transition-up {
    right: 20px;
  }
  @include media($screen-desktop) {
    &:hover {
      .#{$styles}__button {
        background-color: $N500;
      }
      .#{$styles}__text {
        color: $N500;
      }
    }
  }
  &:active {
    .#{$styles}__button {
      background-color: $N700;
    }
    .#{$styles}__text {
      color: $N700;
    }
  }
  &__button {
    background-color: $N600;
    border-radius: 3px;
    @include size(32px);
    margin-bottom: 8px;
    @include flex-col(center, center);
    @include transition(all);
  }
  &__icon {
    @include svg(12px, $N0);
  }
  &__text {
    @include text($H200, 500, $N600);
    @include transition(all);
  }
}