@mixin flex-row($justify: flex-start, $align: flex-start) {
    display: flex;
    flex-direction: row;
    justify-content: $justify;
    align-items: $align;
}

@mixin flex-col($justify: flex-start, $align: flex-start) {
    display: flex;
    flex-direction: column;
    justify-content: $justify;
    align-items: $align;
}

@mixin text($size, $weight: 400, $color: #17181a) {
  font: {
    size: $size;
    weight: $weight;
  }
  color: $color;
}

@mixin truncate($truncation-boundary) {
  max-width: $truncation-boundary;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin media($screen: $screen-tablet) {
  @media screen and (min-width: $screen) {
    @content;
  }
}

@mixin button-loading($color) {
  color: transparent;
  position: relative;
  cursor: pointer;
  p, span, svg {
    opacity: 0;
    visibility: hidden;
    fill: transparent;
  }
  &:hover {
    color: transparent;
    p, span, svg {
      opacity: 0;
      visibility: hidden;
      fill: transparent;
    }
  } 
  &:after {
    align-self: center;
    content: ''; 
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    width: 16px;
    height: 16px;
    border: 2px solid $color;
    border-radius: 290486px;
    border-right-color: transparent;
    animation: button-loading 0.6s linear infinite;
    pointer-events: none;
  }
}

$z-index: (
  immortal           : 100,
  superpopup         : 20,
  popup              : 15,
  navigation         : 10,
  popover            : 5,
  default            : 0,
  under              : -1,
);

@mixin z-index($key: default) {
  z-index: z-index($key);
}

@function z-index($key) {
  @return map-get($z-index, $key);
}